[Desktop Entry]
Name=Caelestia Launcher
Comment=Toggle Caelestia Command Launcher & Wallpaper Picker
Exec=/mnt/data/workspace/caelestia-kde/scripts/toggle_launcher.sh
Icon=preferences-system-search
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
X-KDE-Shortcuts=Meta+Space

