[Desktop Entry]
Name=Astral Dashboard
Comment=Toggle Astral Central Dashboard
Exec=sh -c "$HOME/.config/quickshell/scripts/toggle_dashboard.sh"
Icon=preferences-system-windows
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
